.modal-edit-delete {
    display: flex;
    flex-direction: column;

    position: absolute;
    

    width: 4em;
    background-color: #FAFAFA;

    
    border-radius: 0.5em;
    box-shadow: 0 0 0.2em black;

    h2 {
        text-align: center;

        font-family: roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        
        cursor: pointer;

        &:hover {
            background-color: #ED5B2D;
            border-radius: 0.5em;
            color: white;
        }
    }
}